div#div-chalkboard {
  border: 20px solid;
  border-image-source: url("images/chalkboard-blank.png");
  border-image-slice: 18 17 39 17 fill;
  border-image-width: auto;
  border-image-repeat: round;
  width: max-content;
  padding: 0px;
}

body {
  margin: 0 auto;
  padding: 0px;
}